<% provide(:title, "About") %>
<p>
    This is the StrongPizza app built for the StrongMind Full Stack Developer 
    technical interview as described 
    <a href="https://github.com/StrongMind/culture/blob/main/recruit/full-stack-developer.md">here</a>.
    The app is built with Ruby 3.2.2 and Rails 7.0.4. The source code can be found
    on github located <a href="https://github.com/semirare/StrongMindPizza">here</a>.
</p>