<div class="center jumbotron">
    <h1>StrongPizza Home</h1>
    <img src='/assets/logo.svg', alt="Image of a pizza", width=200/>
    <%= link_to "Pizzas", pizzas_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Toppings", toppings_path, class: "btn btn-lg btn-primary" %>
</div>
