<% provide(:title, "Home")%>

<div class="row">
    <div class="col-md-6">
        <a href="/pizzas/">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>Manage Pizzas</h5>
                </div>
                <div class="panel-body">
                    <img src='assets/pizza.jpg', alt='pizza', class="img-responsive">
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a href="/toppings">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>Manage Toppings</h5>
                </div>
                <div class="panel-body">
                    <img src='assets/toppings.jpg', alt='pizza', class="img-responsive">
                </div>
            </div>
        </a>
    </div>
</div>
