<% provide(:title, "#{@topping.name}") %>

<h1>Editing <%= @topping.name %></h1>

<%= render "form", topping: @topping, new_topping: false %>

<br>

<div>
  <%= link_to "Back to Topping Menu", toppings_path, class: "btn btn-lg btn-primary" %>
</div>
