<% provide(:title, "Toppings") %>

<div class="container-fluid">
  <h1>Add New Topping</h1>
  <%= render "form", topping: Topping.new, new_topping: true %>

  <br>


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Topping Menu</h1>
      <div id="toppings">
        <ul class="list-group">
        <% @toppings.order(Arel.sql('lower(name)')).each do |topping| %>
          <li class="list-group-item">
            <div class='row v-align-middle'>
              <div class="col-md-8">
                <h4><%= topping.name %><h4>
              </div>
              <div class="col-md-2 text-right">
                <%= link_to "Edit", edit_topping_path(topping), class: "btn btn-block btn-edit" %>
              </div>
              <div class="col-md-2 text-left">
                <%= button_to "Delete", topping, method: :delete, class: "btn btn-block btn-danger" %>
              </div>
            </div>
          </li>
        <% end %>
        <ul>
      </div>
    </div>
    </div>
</div>