<div class="panel panel-primary">
  <div class="panel-heading">
    <h5><%= pizza.name %></h5>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <% pizza.pizza_toppings.each do |pt| %>
        <li class="list-group-item"><h4><%= pt.topping.name %><h4></li>
      <% end %>
    </ul>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-6">
        <%= link_to "Edit", edit_pizza_path(pizza), class: "btn btn-edit btn-block" %>
      </div>
      <div class="col-md-6">
        <%= button_to "Delete", pizza, method: :delete, class: "btn btn-danger btn-block" %>
      </div>
    </div>
  </div>
</div>