<% provide(:title, "#{@pizza.name}") %>

<h1>Editing <%= @pizza.name %></h1>

<%= render "edit_pizza", pizza: @pizza %>

<br>

<div>
  <%= link_to "Back to Pizza Menu", pizzas_path, class: "btn btn-lg btn-secondary" %>
</div>
