<% provide(:title, "Pizzas") %>

<div class="container-fluid">
  <h1>Add New Pizza</h1>
  <%= render "form", pizza: Pizza.new, new_pizza: true %>

  <br>

  <h1>Pizza Menu</h1>
  <div class="row">
    <% @pizzas.order(:name).each do |pizza| %>
      <div class="col-md-6">
        <%= render "pizza", pizza: pizza %>
      </div>
    <% end %>
  </div>
</div>