<p style="color: green"><%= notice %></p>

<%= render @pizza %>

<div>
  <div>
    <%= @pizza.name %>
  <div>
  <div>Ingredients:</div>
  <% topping_names_for(@pizza).each do |topping| %>
    <div><%= topping%></div>
  <% end %>
</div>
