<%= form_with(model: @pizza_topping, url: pizza_toppings_path)  do |f| %>
  <%= f.hidden_field "pizza_topping[pizza_id]", value: pizza_id %>

  <div class="row">
    <div class="col-md-10">
      <div class="form-group">
        <%= f.collection_select "pizza_topping[topping_id]", new_topping_choices_for(pizza_id), :id, :name, {}, { class: "form-control input-lg form-control-custom" } %>
      </div>
    </div>
    <div class="col-md-2">
      <%= f.submit "Add", class: "btn btn-block btn-edit" %>
    </div>
  </div>
<% end %>