<div id="<%= dom_id pizza_topping %>">
  <p>
    <strong>Pizza ID:</strong>
    <%= pizza_topping.pizza_id %>
  </p>

  <p>
    <strong>Topping ID:</strong>
    <%= pizza_topping.topping_id %>
  </p>
</div>
