<h1>Editing pizza_topping</h1>

<%= render "form", pizza_topping: @pizza_topping %>

<br>

<div>
  <%= link_to "Show this pizza_topping", @pizza_topping %> |
  <%= link_to "Back to toppings", toppings_path %>
</div>
