<p style="color: green"><%= notice %></p>

<h1>Pizza Toppings</h1>

<div id="pizza_toppings">
  <% @pizza_toppings.each do |pizza_topping| %>
    <%= render pizza_topping %>
    <p>
      <%= link_to "Show this pizza topping", pizza_topping %>
    </p>
  <% end %>
</div>

<%= link_to "New pizza topping", new_pizza_topping_path %>
