<footer class='footer'>
    <small>
        The StrongPizza App by Dalton Harenza
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
        </ul>
    </nav>
</footer>