<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "StrongPizza", root_path, id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Pizzas", pizzas_path %></li>
                <li><%= link_to "Toppings", toppings_path %></li>
            </ul>
        </nav>
    </div>
</header>